<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Events</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>                      
        <ul>
            {{range $Event := .Events}}
                <li>{{$Event.Name}}</li>
                <ul>
                    <li>{{$Event.Description}}</li>
                </ul>
            {{end}}
        </ul>
        <a href="/">Go back</a>
    </body>
</html>
